<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%employees.forEach(e=>{%>
        <div class="box">
        <h1>employeeID:<%=e.employeeID%></h1>
        <h1>name:<%=e.name%></h1>
        <h1>salary:<%=e.salary%></h1>
        <h1>department:<%=e.department%></h1>
    </div>    
        <%})%>
   
</body>
 
</html>