body{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-around;
}
.box{
    padding: 1rem;
display: flex;
border-radius: 2rem;
background-color: bisque;
flex-direction: column;
align-content: center;
justify-content: center;
flex-wrap: nowrap;
align-items: center;
}
h1{
    text-align: center;
}